@font-face {
    font-family: OpenSans;
    src: url(../fonts/open-sans/OpenSans-Light.ttf);
}

* {
    margin: 0;
    font-family: OpenSans, sans-serif;
}

a {
    padding-left: 2%;
    text-decoration: none;
    color: black;
}

/*********************************
 *
 *  Top Image / Navigation bar.
 *
 ********************************/


.banner-top {
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    max-height: 250px;
}

.banner-top img {
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    max-height: 250px;
}

.navbar {
    margin-top: 0;
    display: block;
    overflow: auto;
    text-align: center;
}

.navbar ul {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #000000;
    list-style-type: none;
    overflow: auto;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    background-color: rgba(158, 179, 194, 1);
}

.posts-box-content {
    padding-left: 0.5%;
    padding-right: 0.5%;
}

/*********************************
 *
 *  Buttons.
 *
 ********************************/

.button {
    padding: 4px 10px;
    background-color: #7FFFD4;
    color: #80002b;
}

.content {
    margin-top: 1%;

    position: relative;
}

.box {
    border: 1px solid black;
}

.container {
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-bottom: 178px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.no-wrap {
    flex-wrap: nowrap;
}

.col-1 {
    flex-grow: 1;
    flex-basis: 12.5%;
}

.col-2 {
    flex-grow: 2;
    flex-basis: 25%;
}

.col-3 {
    flex-grow: 3;
    flex-basis: 37.5%;
}

.col-4 {
    flex-grow: 4;
    flex-basis: 50%;
}

.col-5 {
    flex-grow: 5;
    flex-basis: 62.5%;
}

.col-6 {
    flex-grow: 6;
    flex-basis: 75%;
}

.col-7 {
    flex-grow: 7;
    flex-basis: 87.5%;
}

.col-8 {
    flex-grow: 8;
    flex-basis: 100%;
}

/*********************************
 *
 *  Dividers.
 *
 ********************************/

.divider {
    border-top: 3px solid #BBB;
    margin: 4px 5px 3px;
    padding-left: 0.5%;
    padding-right: 0.5%;
}


/*********************************
 *
 *  Margin and padding.
 *
 ********************************/

.mr-1 {
    margin-right: 1%;
}

.ml-1 {
    margin-left: 1%;
}

.pl-1 {
    padding-left: 1%;
}

.pr-1 {
    padding-right: 1%;
}


/*********************************
 *
 *  Post specific CSS.
 *
 ********************************/

.post {
    background-color: rgb(245,245,245);
    border: 1px solid rgb(136,136,136);
    margin-top: 30px;
}

.post h1, h2, h3, h4, h5, h6 {
    width: 100%;
    text-align: center;
    padding-bottom: 16px;
}

.post small {
    padding: 10px;
    width: 100%;
    text-align: center;
    display: block;
    font-size: 15px;
    color: rgb(168,168,168)
}

.post small a {
    opacity: 0.7;
    padding-right: 8px;
    font-size: 13px;
    font-style: italic;
    color: #8a6d3b;
}

/* TODO: Style the p tag and show the images... */
.post p {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 12px;
}

.post ul, ol {
    padding-bottom: 12px;
}

/*********************************
 *
 *  Contextmenu Stuff.
 *
 ********************************/

.editor-background {
    background-color: rgb(12, 18, 18);
    color: lightgrey;
}


/*********************************
 *
 *          Footer.
 *
 ********************************/

footer {
    background-color: rgb(56,56,56);
    margin-top: 50px;
    min-height: 128px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer .content {
    margin: 12px 16px;
}


input, select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
