.sidebar {
  position: fixed;
  top: 336px;
  overflow-x: hidden;
  right: 15px;
  max-width: 25%;
  background-color: $sidebar-background-color;
  border: 2px solid $sidebar-border-color;
}

.posts-box-content {
  padding-left: 0.5%;
  padding-right: 0.5%;
}
