$body-color: rgb(244, 244, 249);

$link-color: rgb(158, 179, 194);

$post-background-color: rgb(136, 183, 181);

$post-border-color: rgb(136, 136, 136);

$post-tag-color: rgb(168, 168, 168);

$sidebar-background-color: lighten(rgb(93, 115, 126), 25%);

$sidebar-border-color: rgb(93, 115, 126)
