@import "variables";

@import "post";

@import "sidebar";

@import "grid";

@import "editor";

@font-face {
  font-family: OpenSans-Light;
  src: url(/fonts/open-sans/OpenSans-Light.ttf);
}


* {
  margin: 0;
  font-family: OpenSans-Light, sans-serif;
}

body {
  color: $body-color;
  height: 100%;
}

.divider {
  border-top: 1px solid #BBB;
  margin: 4px 5px 3px;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.banner-top {
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  max-height: 250px;

  img {
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    max-height: 250px;
  }
}

.navbar {
  margin-top: 0;
  display: block;
  overflow: auto;
  text-align: center;


  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: black;
    list-style-type: none;
    overflow: auto;

    li {
      display: inline;

      a {
        display: inline-block;
        padding: 8px;
        text-decoration: none;
        color: white;
      }

      a:hover {
        background-color: darken($link-color, 20%);
      }
    }
  }
}

a {
  padding-left: 2%;
  text-decoration: none;
  color: black;
}

footer {
  background-color: rgb(56,56,56);
  //margin-top: 50px;
  //min-height: 128px;
  //position: absolute;
  //bottom: 0;
  //width: 100%;
  //text-align: center;

  //position: fixed;
  //bottom: 0;
  height: 130px;
  //
  //background-color: rgb(56,56,56);
  //box-sizing: border-box;
  //width: 100%;
  //text-align: center;
  //padding: 50px 50px 60px 50px;
  //margin-top: 80px;
}

footer .content {
  margin: 12px 16px;
}


main {
  margin-bottom: 130px;
}
