extends layout
block content
  div(class="container")
    div(class="less-big-box")
    div(class="big-box", id="posts")
    div(class="less-big-box")
        div(class="sidebar")
            h3 Seneste Indlæg
            div(class="divider")

            div(class="posts-box-content")
                a(href="#") Se! En kage!
                div(class="divider")
                a(href="#") Se! En kage!!
