doctype html
html
    head
        meta(charset="UTF-8")
        title AK's Blog
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", type="image/png", href="/images/icon.png")
        link(doctype="text/css", rel="stylesheet", href="styles.css")
    body
        header(class="banner-top")
            img(src="/images/banner.jpg", alt="Header Banner")

        nav(class="navbar")
            ul
                li
                    a(href="/") Home
                li
                    a(href="/follow.html") Følg Mig!
                li
                    a(href="/create-post.html") Opret Indlæg
                li
                    a(href="/login.html") Login


        main(class="content")
            div(class="container")
                div(class="small-box")
                block main

                div(class="less-big-box")
                    div(class="sidebar")
                        h3 Ann-Katrine
                        div(class="divider")
                        div(class="posts-box-content")
                            p Lorem Ipsum Dolor Sit Amet AKA en kort beskrivelse om hvem du er, eller sådan noget dette er faktisk bare en fyldetekst...
                            div(class="divider")
                            div(class="flex-row-container")
                                div(class="flex-row-item")
                                    img(class="icon", src="/images/facebook.png")
                                div(class="flex-row-item")
                                    img(class="icon", src="/images/twitter.png")
                                div(class="flex-row-item")
                                    img(class="icon", src="/images/instagram.png")
        footer
            div(class="content")
            | TODO: FIX FOOTER!!!!!!!!!!!!!!!!!!!!!!


        script(src="main.js")
