extends layout

block main
    div(class="big-box")
        form(action="php/login", method="post")
            div(class="row")
                div(class="col-25")
                    label(for="brugernavn") Brugernavn
                div(class="col-75")
                    input(id="brugernavn", type="text", name="brugernavn" required)
            div(class="row")
                div(class="col-25")
                    label(for="password") Password
                div(class="col-75")
                    input(id="password", type="password", name="password" required)
            div(class="row")
                div(class="col-25")
                    label(for="submit") Login
                div(class="col-75")
                    input(id="submit", type="submit", name="submit", value="Login")
