extends statistic-base
block main
    div
        div(class="form")
            div(class="row")
                div(class="col-25")
                    label(for="date") Dato
                div(class="col-75")
                    input(id="date", type="date", name="date")
            div(class="row")
                div(class="col-100")
                    button(id="search-date", onclick="updateImg('date', 'stat-follows')") Søg
        img(id="stat-follows", class="statistic-image", src="https://ak.sebathefox.dk/php/post/follows/2020-05-01/2020-05-07")
